body {
    background-color: lightblue;
    margin: 40px;
    font-family: verdana;
}

h1 {
    text-align: center;
}

p {
    font-size: 25px;
}

a {
    color: white;
    font-size: 25px;
}


nav {
    font-family: verdana;
    text-align: center;
    border: 4px solid black;
    background-color: green;
}

